body{
	margin: 0;
	font-family: Helvetica, Georgia, serif;
}

.main{
	background-color: #F2F5F8;
}

.signup{
	background: -webkit-radial-gradient(circle, #F2F5F8, #E3E5F4);
	background: -o-radial-gradient(circle, #F2F5F8, #E3E5F4);
	background: -moz-radial-gradient(circle, #F2F5F8, #E3E5F4);
	background: radial-gradient(circle, #F2F5F8, #E3E5F4);
}

.signup h1{
	color: #51AFD1;
	font-size: 40px;
	margin: 30px auto;
}

.signup h1, .form-container h2{
	text-shadow: #ecf8fe 0 1px 0;
}

.form-container {
   border: 1px solid #ecf8fe;
   background: #6BB4DB;
   background: -webkit-gradient(linear, left top, left bottom, from(#bbe0f4), to(#6BB4DB));
   background: -webkit-linear-gradient(top, #bbe0f4, #6BB4DB);
   background: -moz-linear-gradient(top, #bbe0f4, #6BB4DB);
   background: -ms-linear-gradient(top, #bbe0f4, #6BB4DB);
   background: -o-linear-gradient(top, #bbe0f4, #6BB4DB);
   background-image: -ms-linear-gradient(top, #bbe0f4 0%, #6BB4DB 100%);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
   font-family: 'Helvetica Neue',Helvetica,sans-serif;
   text-decoration: none;
   min-width:300px;
   padding:20px;
   width:300px;
}

.form-field {
   border: 1px solid #6aaccf;
   background: #c5e5f6;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   color: #203244;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 1px 1px;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 1px 1px;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 1px 1px;
   padding:8px;
   margin-bottom:20px;
   width:280px;
}

.form-field:focus {
   background: #f4fbff;
   color: #375472;
}

.form-container h2 {
   font-size:22px;
   margin: 0 0 10px 0;
}

.form-title {
   margin-bottom:10px;
   color: #3f85ab;
   text-shadow: #ecf8fe 0 1px 0;
}

.submit-container {
   margin:8px 0;
   text-align:right;
}

.submit-button {
   border: 1px solid #227100;
   background: #3eac0f;
   background: -webkit-gradient(linear, left top, left bottom, from(#5dc531), to(#3eac0f));
   background: -webkit-linear-gradient(top, #5dc531, #3eac0f);
   background: -moz-linear-gradient(top, #5dc531, #3eac0f);
   background: -ms-linear-gradient(top, #5dc531, #3eac0f);
   background: -o-linear-gradient(top, #5dc531, #3eac0f);
   background-image: -ms-linear-gradient(top, #5dc531 0%, #3eac0f 100%);
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #58c211 0 1px 0;
   color: #103500;
   font-family: helvetica, serif;
   padding: 8.5px 18px;
   font-size: 14px;
   text-decoration: none;
   vertical-align: middle;
}

.submit-button:hover {
   border: 1px solid #227100;
   text-shadow: #174b00 0 1px 0;
   background: #39990D;
   background: -webkit-gradient(linear, left top, left bottom, from(#57B72D), to(#39990D));
   background: -webkit-linear-gradient(top, #57B72D, #39990D);
   background: -moz-linear-gradient(top, #57B72D, #39990D);
   background: -ms-linear-gradient(top, #57B72D, #39990D);
   background: -o-linear-gradient(top, #57B72D, #39990D);
   background-image: -ms-linear-gradient(top, #57B72D 0%, #39990D 100%);
   color: #fff;
}

.submit-button:active {
   text-shadow: #31540c 0 1px 0;
   border: 1px solid #227100;
   background: #5dc531;
   background: -webkit-gradient(linear, left top, left bottom, from(#3eac0f), to(#3eac0f));
   background: -webkit-linear-gradient(top, #3eac0f, #5dc531);
   background: -moz-linear-gradient(top, #3eac0f, #5dc531);
   background: -ms-linear-gradient(top, #3eac0f, #5dc531);
   background: -o-linear-gradient(top, #3eac0f, #5dc531);
   background-image: -ms-linear-gradient(top, #3eac0f 0%, #5dc531 100%);
   color: #174b00;
}

.invalid{
	color: red;
	font-size: 12px;
	margin-left: 40px;
}

.menu{
	height: 50px;
}

.title{
	width: 480px;
	float: left;
	font-size: 32px;
	line-height: 50px;
	background-color: #5BC4EB;
	cursor: default;
}

.leftmenu{
	width: auto;
	height: 50px;
	float: left;
	background-color: #fff;
	border-bottom: 1px solid #E3E8F0;
}

.welcome{
	float: right;
	font-size: 18px;
	padding-right: 20px;
	padding-left: 20px;
	line-height: 49px;
	border-left: 1px solid #E3E8F0;
	cursor: default;
	color: #6D737A;
}

.signout{
	float: right;
	height: 50px;
	padding-right: 20px;
	padding-left: 20px;
	border-left: 1px solid #E3E8F0;
}

.signout button{
	margin-top: 8px;
}

.schedule{
	margin: 40px 20px;
	border: 1px solid #C1D2DB;
}

.mybtn{
	border: none;
	margin: 0;
	padding: 0;
	width: 100px;
	height: 34px;
	outline: none;
}

#weekltbtn{
	background-color: #97D35A;
	border-radius: 20px 0 0 20px;
	-moz-border-radius: 20px 0;
}

#monthlybtn{
	background-color: #8F9EAC;
	margin-left: -4px;
	border-radius: 0 20px 20px 0;
	-moz-border-radius: 20px 0;
}

#btnth{
	width: 244px;
}

.tabletitle{
	width: 244px;
	height: 34px;
	line-height: 34px;
	background-color: #E1E8EC;
	color: #728398;
	border-bottom: 1px solid #C1D2DB;
}

#calendar{
	background-color: #F0F4F7;
	padding: 6px 10px;
}

#calendar th, #calendar td{
	text-align: center;
}

#inject{
	width: auto;
    height: 396px;
}

.celltitle{
	color: #91C75A;
}
.centerVH{
	vertical-align: center;
}
.width32{width: 32px;}
.width70{width: 70px;}
.width80{width: 80px !important;}
.width160{width: 160px;}
.width224{width: 224px;}
.height28{height: 28px;}
.height32{height: 32px;}
.height38{height: 38px;}
.height50{height: 50px;}
.daycolor{color: #9EA8B6;}
.daycolor2{color: #5D6D84;}
.pointer{cursor: pointer;}
.bold{font-weight: bold;}
.txtaligncenter{text-align: center;}
.defaultcursor{cursor: default;}
.hidden{display: none;}
.color60C4E9{color:#60C4E9;}
.color728398{color:#728398;}
.colorwhite, .colorwhite:hover, .colorwhite:focus, .colorwhite:visited{color:white;}
.bgcolor5BC4EB{background-color:#5BC4EB;}
.bgcolorF49494{background-color:#F49494; }
.bgcolor97D35A{background-color:#97D35A;}
.bgcolorD8A200{background-color:#D8A200;}
.bgcolor5BC4EB:hover{background-color:#51AFD1;}
.bgcolorF49494:hover{background-color:#DB8787; }
.bgcolor97D35A:hover{background-color:#85B74E;}
.bgcolorD8A200:hover{background-color:#BC8D00;}

.tdstyle{
	padding: 0 8px;
	-webkit-border-radius: 40px; 
    -moz-border-radius: 40px;
	border-radius: 40px;
}

.tdstyle:hover{
	background-color: #D0D5D8;
}

.maincells{
	border-left: 1px solid #C1D2DB;
	border-bottom: 1px dotted #C1D2DB;
}

.divcells{
	font-size: 14px;
	padding: 2px;
	text-align: center;
	color: #636F98;
	background-color: #FBFBFB;
}

#r7 > td{
	border-bottom: none;
}

#search{
	outline: none;
}

#search:active{
	box-shadow: 0 0 0 2px #8F9EAC;
}

#btnpressed{
	box-shadow: 0 0 0 2px #8F9EAC;
}

#schedtable > thead{
	background-color: white;
	border-bottom: 1px solid #C1D2DB;
}

#schedtable > thead > tr > th{
	height: 50px;
	width: 180px;
	text-align: center;
}

#schedtable > tbody > tr > td{
	vertical-align: top;
}

#tdcoloring{
	background-color: #60C4E9;
	color: white;
}

#weekdays{
	color: #828C99;
}

#weekdayssmall{
	border-bottom: 1px solid #C1D2DB;
	border-top: 1px solid #C1D2DB;
}

#showCurrentDate{
	color: #728398;
	-webkit-border-radius: 30px; 
    -moz-border-radius: 30px;
	border-radius: 30px;
}

#showCurrentDate:hover{
	background-color: #E1E8EC;
}

#tbrborder{
	border-top: 3px solid #60C4E9;
}

#monthlyview{
	font-size: 24px;
    text-align: center;
	margin-top: 160px;
}

#maintable{
	width: 100%;
	background: repeating-linear-gradient(
	  -45deg,
	  #EFEFEF 1px,
	  #F9F9F9 5px
	);
}

#labs{
	padding: 15px 15px;
	width: 244px;
	border-top: 1px solid #C1D2DB;
	background-color: #E1E8EC;
	margin-top: 5px;
	height: 152px;
}

#labs button{
	width: 90px;
    margin-bottom: 10px;
    margin-left: 10px;
	outline: none;
}

div#searchtable{
	font-size: 24px;
    margin-top: 160px;
}

#searchtable{
	width: 100%;
}

.noresults{
	font-size: 24px; 
	margin-top: 160px;
}

.thsearch{
	font-size: 18px;
	text-align: center;
	border-bottom: 1px dotted #C1D2DB;
	border-right: 1px solid #C1D2DB;
	color: #5D6D84;
    background-color: #CDD3D6;
}

.tdsearch{
	font-size: 16px;
	text-align: center;
	border-bottom: 1px dotted #C1D2DB;
	border-right: 1px solid #C1D2DB;
	color: #728398;
}

.back1{
	background: repeating-linear-gradient(
	  45deg,
	  #EFEFEF 1px,
	  #F9F9F9 5px
	);
}

.back2{
	background: repeating-linear-gradient(
	  -45deg,
	  #E0E0E0 1px,
	  #EAEAEA 5px
	);
}

@media screen and (max-width: 834px){

}

@media screen and (max-width: 600px){
	h1{
		font-size: 30px;
	}
	.form-container{
		position: relative;
		margin: 10px auto;
	}
}
